In [1]:
import pandas as pd
data = pd.read_csv("50_states.csv")

In [2]:
data.head()

        state    x    y
0     Alabama  139  -77
1      Alaska -204 -170
2     Arizona -203  -40
3    Arkansas   57  -53
4  California -297   13

In [3]:
import turtle


screen = turtle.Screen()
screen.title("U.S. States Game")
image = "blank_states_img.gif"
screen.addshape(image)
turtle.shape()

answer_state = screen.textinput(title = 'Guess the State', prompt = "What's another state's name? ")
answer_state = answer_state.title()

all_states = data['state'].tolist()
t = turtle.Turtle()
def write_state(x,y):
    t.hideturtle()
    t.penup()
    t.goto(x, y)
    t.write(f"{answer_state}")

if answer_state in all_states:
    state_x = data[data['state'] == answer_state].x
    state_y = data[data['state'] == answer_state].y
    write_state(int(state_x), int(state_y))